body {
    background-color: #fdfdbb;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    background-color: green;
    border: 2px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

td {
    background-color: black;
    border: 2px solid black;
    color: white;
    text-align: right;
}

a {
    color: red;
    text-decoration: none;
}

h5 {
    text-align: center;
}