<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Enter Details</title>
</head>

<body>
    <h1>Enter the Details</h1>
    <form method="POST" action="/" id="data-form">
        <input type="radio" id="student_id" name="ID" value="student_id" />
        <label for="student_id">Student ID</label>
        <input type="radio" name="ID" id="course_id" value="course_id" />
        <label for="course_id">Course ID</label>
        <input type="text" name="id_value" />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>